@model CBA.Models.BuyBuddie.Search
@{
    ViewBag.Title = "CBA Travel Companion";
}

<header id="results-nav" class="bar bar-nav">
    @{ Html.BeginForm("Index", "Home", FormMethod.Get); }
    <button class="btn btn-link btn-nav pull-left">
        <span class="icon icon-left-nav"></span> &nbsp;
    </button>
    @{ Html.EndForm(); }
    <h1 class="title"><img src="@Url.Content("~/assets/img/cba-logo.png")" /></h1>
</header>

<nav class="bar bar-tab">
    <a class="tab-item" href="@Url.Action("Index")">
        <span class="icon icon-home"></span>
        <span class="tab-label">Home</span>
    </a>
    <a class="tab-item" href="@Url.RouteUrl("share")">
        <i class="fa fa-heart fa-nav"></i><br />
        <span class="tab-label" style="display: block; font-size: 11px;">Share</span>
    </a>
    <a class="tab-item" href="@Url.RouteUrl("settings")">
        <span class="icon icon-gear"></span>
        <span class="tab-label">Settings</span>
    </a>
</nav>

<div id="results-content" class="content">
    @if (ViewBag.Error != null)
    {
        <p>ViewBag.Error</p>
    }
    
    @{
        var mascotPrompt = (Model.RiskScore == 0 && !Model.Issues.Any()) || (Model.RiskScore > 0);
    }
    <div class="content-padded">
        <table>
            @if (mascotPrompt)
            {
                <tr style="vertical-align: top;">
                    <td style="width: 60px;">
                        @if (!String.IsNullOrEmpty(Model.ScoreGraphic))
                        {
                            <img src="http://buybuddie.com.au/@Model.ScoreGraphic" alt="@Model.RiskScore" style="width: 40px;" />
                        }
                        else
                        {
                            <img src="http://buybuddie.com.au/Content/bb/img/bb-gray.gif" alt="0" style="width: 40px;" />
                        }
                    </td>
                    <td>
                        <h5 style="margin: 0px; padding: 0px;">Transaction analysis for: @ViewBag.Query</h5>
                        @if (Model.RiskScore == 0 && !Model.Issues.Any())
                        {
                            <p>No issues have been detected.</p>
                            <div style="height: 20px;"></div>
                        }
                        else if (Model.RiskScore > 0)
                        {
                            <h5>
                                Your overall risk score is: @Model.RiskScore
                            </h5>
                            <p>
                                @Html.Raw(CBA.Helpers.HTML.WithActiveLinks(Model.AlertSummary))
                            </p>
                        }
                    </td>
                </tr>
            }
            <tr style="vertical-align: top;">
                <td style="width: 60px;">
                    @if (!mascotPrompt)
                    {
                        if (!String.IsNullOrEmpty(Model.ScoreGraphic))
                        {
                            <img src="http://buybuddie.com.au/@Model.ScoreGraphic" alt="@Model.RiskScore" style="width: 40px;" />
                        }
                        else
                        {
                            <img src="http://buybuddie.com.au/Content/bb/img/bb-gray.gif" alt="0" style="width: 40px;" />
                        }
                    }
                </td>
                <td>
                    @if (Model.Issues.Any(i => !string.IsNullOrEmpty(i.Message)))
                    {
                        <h5>
                            Issues
                        </h5>
                        foreach (var issue in Model.Issues.Where(i => !string.IsNullOrEmpty(i.Message)))
                        {
                            <p>@Html.Raw(CBA.Helpers.HTML.WithActiveLinks(issue.Message))</p>
                        }
                        <div style="height: 20px;"></div>
                    }
                    @if (Model.Issues.Any(i => !string.IsNullOrEmpty(i.Solution)))
                    {
                        <h5>
                            Solutions
                        </h5>
                        foreach (var issue in Model.Issues.Where(i => !string.IsNullOrEmpty(i.Solution)))
                        {
                            <p>@Html.Raw(CBA.Helpers.HTML.WithActiveLinks(issue.Solution))</p>
                        }
                    }
                </td>
            </tr>
        </table>
    </div>

    <div class="content-padded">
        <h5>
            Alternatives
        </h5>
        <ul class="table-view">
            <li class="table-view-cell media">
                <a class="navigate-right" href="javascript:;" onclick="showbbchoices();">
                    <span class="media-object pull-left icon icon-check"></span>
                    <div class="media-body">
                        BuyBuddie Choices
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a class="navigate-right" href="javascript:;" onclick="showmarketplace();">
                    <span class="media-object pull-left icon icon-more"></span>
                    <div class="media-body">
                        Marketplace
                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>

<header id="alt-nav" class="bar bar-nav" style="display: none;">
    <button class="btn btn-link btn-nav pull-left" onclick="showresults();">
        <span class="icon icon-left-nav"></span> &nbsp;
    </button>
    <h1 class="title"><img src="@Url.Content("~/assets/img/cba-logo.png")" /></h1>
</header>

<div id="bbchoices-content" class="content" style="display: none;">

    <div class="content-padded">
        <h5>
            BuyBuddie Choices
        </h5>
        <table>
            @foreach (var item in Model.Alternatives)
            {
                var desc = CBA.Helpers.HTML.StripTags(item.Description);
                if (desc != null) { desc = desc.Trim(); desc = desc.Length > 140 ? desc.Substring(0, 140) + "..." : desc; }
                var title = item.Title;
                if (string.IsNullOrEmpty(title)) { title = item.Url; }

                <tr style="vertical-align: top;">
                    <td style="width: 60px;">
                        <span class="media-object pull-left icon icon-check" style="color: #b7b7b7;"></span>
                    </td>
                    <td>
                        <p style="margin-bottom: 40px;">
                            <a href="@item.Url" target="_blank">@title</a>
                            <br />
                            @desc
                        </p>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>

<div id="marketplace-content" class="content" style="display: none;">

    <div class="content-padded">
        <h5>
            Marketplace
        </h5>
        <table>
            @foreach (var item in Model.MarketplaceItems)
            {
                var desc = CBA.Helpers.HTML.StripTags(item.Description);
                if (desc != null) { desc = desc.Trim(); desc = desc.Length > 140 ? desc.Substring(0, 140) + "..." : desc; }
                var title = item.Title;
                if (string.IsNullOrEmpty(title)) { title = item.Url; }

                <tr style="vertical-align: top;">
                    <td style="width: 60px;">
                        <span class="media-object pull-left icon icon-more" style="color: #b7b7b7;"></span>
                    </td>
                    <td>
                        <p style="margin-bottom: 40px;">
                            <a href="@item.Url" target="_blank">@title</a>
                            <br />
                            @desc
                        </p>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>

<script>
    function showresults() {
        $('#alt-nav').hide();
        $('#bbchoices-content').hide();
        $('#marketplace-content').hide();
        $('#results-nav').show();
        $('#results-content').show();
    }

    function showbbchoices() {
        $('#results-nav').hide();
        $('#results-content').hide();
        $('#alt-nav').show();
        $('#bbchoices-content').show();
    }

    function showmarketplace() {
        $('#results-nav').hide();
        $('#results-content').hide();
        $('#alt-nav').show();
        $('#marketplace-content').show();
    }
</script>
