@model CBA.Models.BuyBuddie.Search
@{
    ViewBag.Title = "CBA Travel Companion";
}

<header class="bar bar-nav">
    @{ Html.BeginForm("Index", "Home", FormMethod.Get); }
    <button class="btn btn-link btn-nav pull-left">
        <span class="icon icon-left-nav"></span> &nbsp;
    </button>
    @{ Html.EndForm(); }
    <h1 class="title"><img src="@Url.Content("~/assets/img/cba-logo.png")" /></h1>
</header>

<nav class="bar bar-tab">
    <a class="tab-item" href="@Url.Action("Index")">
        <span class="icon icon-home"></span>
        <span class="tab-label">Home</span>
    </a>
    <a class="tab-item" href="#">
        <span class="icon icon-gear"></span>
        <span class="tab-label">Settings</span>
    </a>
</nav>

<div class="content">
    @if (ViewBag.Error != null)
    {
        <p>ViewBag.Error</p>
    }
    
    <div class="content-padded">
        <div class="pull-left">
            @if (!String.IsNullOrEmpty(Model.ScoreGraphic))
            {
                <img src="http://buybuddie.com.au/@Model.ScoreGraphic" alt="@Model.RiskScore" />
            }
            else
            {
                <img src="http://buybuddie.com.au/Content/bb/img/bb-gray.gif" alt="0" />
            }
        </div>
        <div class="pull-left" style="margin-left: 40px;">
            <h2>
                Issues
            </h2>
            @foreach (var issue in Model.Issues)
            {
                if (!string.IsNullOrEmpty(issue.Message))
                { <p>@Html.Raw(CBA.Helpers.HTML.WithActiveLinks(issue.Message))</p> }
            }

            <h2 style="margin-top: 40px;">
                Solutions
            </h2>
            @foreach (var issue in Model.Issues)
            {
                if (!string.IsNullOrEmpty(issue.Solution))
                { <p>@Html.Raw(CBA.Helpers.HTML.WithActiveLinks(issue.Solution))</p> }
            }
        </div>
    </div>



</div>
